<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>

<body class="login-page">
    <div class="login-box">
        <form class="table-inner" th:action="@{/login}" method="post">
            <h2>Вход в систему</h2>

            <input type="text" name="username" placeholder="Имя пользователя" required>
            <input type="password" name="password" placeholder="Пароль" required>
            <button type="submit">Вход</button>

            <div class="options">
                <a href="#">Забыли пароль?</a>
                <a th:href="@{/registrator}">Регистрация</a>
            </div>

            <div th:if="${param.error}" style="color: red; margin-top: 10px; text-align: center;">
                Неверный логин или пароль
            </div>
        </form>
    </div>


    <script>
        const box = document.querySelector('.login-box');

        box.addEventListener('mouseenter', () => {
            box.classList.add('glow');
        });

        box.addEventListener('mouseleave', () => {
            box.classList.remove('glow');
            box.style.boxShadow = '0 0 5px rgba(255, 215, 0, 0.1)';
        });
    </script>
</body>

</html>